.returnHome {
	margin-top: 10px;
}

.loginText {
	color: white;
}

.link {
	color: #e84a5f;
}

.link:hover {
	color: #e84a5f;
	text-decoration: underline;
}

label {
	color: #e84a5f;
}

.form-control {
	margin-bottom: 10px;
}

.loginbtn {
	margin: 10px;
	background-color: #dd0058;
	color: rgb(40, 40, 40);
}

.loginbtn:hover {
	background-color: #ff9696;
	color: #585252d5;
	border: 1px solid #000000;
}