.returnHome {
	margin-top: 10px;
}

.registerText {
	color: rgba(255, 255, 255, 0.896);
}

.link {
	color: #274c73;
}

.link:hover {
	color: #00d0ff;
	text-decoration: underline;
}

label {
	color: #362c88;
}

.form-control {
	margin-bottom: 10px;
}

.signupbtn {
	margin: 10px;
	background-color: #dd0058;
	color: rgb(40, 40, 40);
}

.signupbtn:hover {
	background-color: #ff9696;
	color: #585252d5;
	border: 1px solid #000000;
}