.dashboardText {
	margin-top: 25px;
	color: white;
	font: 'roboto';
}

.logoutbtn {
	background-color: #d5283f;
	color: white;
}

.logoutbtn:hover {
	background-color: white;
	color:#e84a5f;
	border: 1px solid #000000;
}